# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) Built-In Functions <br>

 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
10) Try and Except <br>

### Int & Float Assignments

##### Assigning int

In [6]:
number = 6
print(number)
elephants = 21
print(elephants)
x = 5
y = 13
print(x)
print(y)

6
21
5
13

##### Assigning float

In [7]:
# float == decimal

num_float = 3.14
print(num_float)

my_float = 30.1238050912859012
print(my_float)

3.14
30.123805091285902

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 3
num2 = 7
print(num1 + num2)

result = num1 + num2
print(result)

10
10

In [11]:
num3 = 15
num4 = 2

result = num3 + num4
print(result)

result += num4
# result = result + num4
print(result)

17
19

##### Subtraction

In [13]:
num3 = 15
num4 = 2
print(num3 - num4)

result = num3 - num4
print(result)

result -= num4
# result = result - num4
print(result)

13
13
11

##### Multiplication

In [16]:
num1 = 10
num2 = 4.7

product = num1 * num2
print(product)

product = product * 2
print(product)

47.0
94.0

##### Division

In [19]:
num1 = 45
num2 = 9

quotient = 45 / 9
print(quotient)

5.0

In [20]:
num1 = 45
num1 /= 3

print(num1)

15.0

##### Floor Division

In [23]:
num1 = 5
num2 = 2

floored = num1 // num2
print(floored)

2

In [24]:
num1 = 5
num2 = 2

floored = num1 / num2
print(floored)

2.5

##### Modulo

In [26]:
num1 = 7
if num1 % 2 == 1:
    print("odd")
else:
    print("even")

odd

In [27]:
num1 = 5
num2 = 2
result_mod = num1 % num2
print(result_mod)

num1 %= num2
print(num1)

1
1

In [28]:
num1 = 100
num2 = 15

result_mod = num1 % num2
print(result_mod)

10

##### Exponential

In [29]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

In [31]:
cubed = 3**3
print(cubed)

cubed **= 3
print(cubed)

27
19683

### String Input-Output

##### String Assignment

In [33]:
name = "htae"
cat = "kino"

print(name)
print(cat)

htae
kino

##### print() <br>
<p>Don't forget about end=' '</p>

In [36]:
print("Hello", end=" world? ")
print("Who's", name, end=", " + cat)

Hello world? Who's htae, kino

##### String Concatenation

In [38]:
fname = "Luke"
lname = "Skywalker"

fullname = fname + " " + lname
print(fullname)

fullname += " " + "Jedi Master"
print(fullname)

Luke Skywalker
Luke Skywalker Jedi Master

In [39]:
mystring = "I have a cat, her name is"
catname = "Kino"

cat_sentence = mystring + " " + catname
print(cat_sentence)

I have a cat, her name is Kino

##### Type Conversion

In [40]:
# int() - convert type into integer type
# float() - convert type into float type
# str() - convert to string type

# not every string can be made into a float/integer, but every integer/float can be made into a string

x = 12
print(type(x))

name = "htae"

numstr = "15"

y = 1.45
print(type(y))

<class 'int'>
<class 'float'>

In [41]:
new_x = str(x)
new_y = str(y)

print(type(new_x))
print(type(new_y))

<class 'str'>
<class 'str'>

##### input()

In [47]:
# Input will always return a string, all of the time, forever and ever and ever
name = input("What is your name? ")
print("Your name is,", name)

quest = input("What is your quest? ")
print("Your quest is,", quest)

color = input("What is your favorite color? ")
print("Your favorite color is,", color)

Your name is, htae
Your quest is, nahh
Your favorite color is, light

In [48]:
# Input will always return a string, all of the time, forever and ever and ever
age = int(input("How old are you? "))

age += 1
print(age)

ValueError: invalid literal for int() with base 10: ''

##### format()

In [50]:
age = int(input("How old are you? "))
name = input("What is your name? ")

result = "You are {} years old, {} and you are getting wiser!".format(age, name)
print(result)

result2 = f"{age} is a great time in life!!!"
print(result2)

You are 21 years old, blah and you are getting wiser!
21 is a great time in life!!!

##### Old Way (python 2)

In [54]:
result3 = "You are %s and you look great for your age!" %age
print(result3)

print("""hello, my name is 'hyun-tae' jin I like to have "multiple quotes" """)

You are 21 and you look great for your age!
hello, my name is 'hyun-tae' jin I like to have "multiple quotes"

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for a car's color, year, make, model and prints out the results</p>

In [57]:
color = input("Car color? ")
year = input ("Car year? ")
make = input("Car make? ")
model = input("Car model? ")

print(f"Car color: {color}")
print(f"Car year: {year}")
print(f"Car make: {make}")
print(f"Car model: {model}")
print(f"Your is a {color} {year} {make} {model}")

Car color: blue
Car year: 2020
Car make: honda
Car model: civic
Your is a blue 2020 honda civic

### If Statements

In [77]:
# Operators Less Than <, Greater Than >, Equal to ==, Not Equal To !=
# Less Than or Equal To <=, Greater Than or Equal to >=

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 6
num2 = 65
#if
#elif
#else

if num2 == num1:
    print("yay")
else:
    print("boo")

boo

##### 'is' keyword

In [84]:
# use the "is" keyword when checking for same/similar objects, not same value
num3 = 90

if num3 == 90:
    print("That'll do it!")

if num3 is 90:
    print("That'll also do it") #This gives us a Syntax warning, working with literal
num2 = 55
print(num2)
num3 = num2
print(num3)
num4 = num3
print(num4)
num2 = num2 + 1
print(num2)
num5 = 100

user_age1 = int(input("How old are you?"))
user_age2 = int(input("How old are you?"))

# if num4 is num3:
#     print("SUPER DUPER")
# else:
#     print("This is not super duper")

if user_age1 == user_age2:
    print("same class year")
else:
    print("not the same age")

<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\htae\AppData\Local\Temp\ipykernel_34736\2555119844.py:7: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 90:

That'll do it!
That'll also do it
55
55
55
56
not the same age

##### 'in' keyword

In [85]:
# Checfk if a character is in a string
char_name = "Boba Fett"
if "b" in char_name:
    print("Beautiful")
else: 
    print("Oh no, that's not here!")
    
if "f" in char_name.lower():
    print("its here")
else:
    print('NOPE')

Beautiful
its here

##### 'not in' keyword'

In [86]:
sega_char = "Sonic"
sega_char2 = "Sanic"

if 'a' not in sega_char2.lower():
    print("this is not Saaaanic")
else:
    print("This is Saaanic")

This is Saaanic

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>
<p>Check for case sensitivity</p>

In [78]:
user_input = input("Hey you, enter a string: ")

if 'p' in user_input and "P" not in user_input:
    print("p was in there indeed")
elif 'P' in user_input and "p" not in user_input:
    print("Big P in here")
elif 'p' in user_input and "P" in user_input:
    print("Both Pp")
else:
    print("No P nor p")

No P nor p

## Using 'and'/'or' with If Statements

In [87]:
# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 15
num2 = 3
num3 = 10
num4 = 3

# If with "and" statement
if num1 / 5 == num2 and num3 - 7 == num4:
    print("True and True")
else:
    print("one of the above statements was false")
    
# If with "or" statement
if num1 > num2 or num3 == num4:
    print("True and False")
else:
    print("Both of the above statements are false")

True and True
True and False

### Elif Statements

In [89]:
#if condition 1
#elif condition 2
#elif condition 3
#elif condition 4
#else (all other conditions)

first_name = "asefsdg"

if first_name == "Smith":
    print("Thats a weird first name")
elif first_name == "Max":
    print("Ah yes, Max is a first name")
elif first_name == "Ryan":
    print("Hello Ryan")
elif first_name.lower() == "Alex":
    print("GUTEN MORGEN Alex")
else:
    print("That's not a name I care about")

That's not a name I care about

### Else Statements

In [ ]:
#else is accounting for every other case that isn't in the if or any of the elifs
number = 112

if number == 20:
    print(number)
elif number == 15:
    print(number)
else:
    print(f"The number is not 20 or 15 its {number}")

### String Manipulation

#### .lstrip()

In [90]:
# our_string.lstrip()
name = "     Lando Calrissian"
print(name)
print(name.lstrip())

     Lando Calrissian
Lando Calrissian

#### .rstrip()

In [91]:
# our_string.rstrip()
name = "Luke Skywalker         "
print(name)

print(name.rstrip())

Luke Skywalker
Luke Skywalker

#### .strip()

In [93]:
# our_string.strip()
name = "   htae jin    "
print(name)

print(name.strip())

   htae jin
htae jin

In [95]:
name = input("What is your name? ")

if name == "ryan":
    print("cool beans")
else:
    print("unlegit")
name = name.strip()
if name == "ryan":
    print("cool beans")
else:
    print("unlegit")

unlegit
unlegit

In [99]:
name = "rod,"

name = name.strip(',')
print(name)

rod

In [100]:
# .replace()
name = "ro,d,"

name = name.replace(',', '')
print(name)

rod

#### .title()

In [98]:
# our_string.title()
name = "goofy goober"

print(name.title())

Goofy Goober

#### .upper()

In [97]:
#our_string.upper()
name = "Cheetor"
print(name.upper())

CHEETOR

#### .lower()

In [101]:
# our_string.lower()
name = "DARTH VADER"
print(name.lower())

name_lower = name.lower()
print(name_lower)

darth vader
darth vader

### String Exercise

Have a user input a name. Return the name with all white space removed and each first letter capitalized.

In [79]:
print(input("Give me a sentence: ").strip().title())

### Built-In Functions

##### len()

In [102]:
# check the length of a given variable
name = "Max"

length_of_name = len(name)
print(length_of_name)
print(len(name))

my_list = [2, 6, 5, 0, 9, 19, 23]

for num in my_list:
    print(num)
    
for i in range(len(my_list)):
    print(my_list[i])

3
3
2
6
5
0
9
19
23
2
6
5
0
9
19
23

##### help()

In [104]:
# gives a tooltip on a python built-in function
help(len)
help(print)
help(max)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

##### isinstance()

In [ ]:
# Check a variable to find out what Object Family (data type) it belongs to
# isinstance(var, type)

print(isinstance(4.5, int))

if isinstance(4.5, float):
    print("This number is a float type")
age = int(input("How old are you?"))
if isinstance(age, int):
    print(age)
else: 
    print("Thats not an integer")

##### abs()

In [122]:
# | 5 |
# gives us distance to zero
print(abs(-5))

print(abs(10))

print(abs(5-13))

5
10
8

### Try and Except

In [123]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop. 
# logs out graceful error messages to gently nudge user in the right direction

try:
    age = int(input("How old are you? "))
    print(f"Happy Birthday you were {age} and now you are {age + 1}")
except:
    print("Please enter in a number, not text")

Happy Birthday you were 31 and now you are 32

In [124]:
age = int(input("How old are you? "))
print(f"Happy Birthday you were {age} and now you are {age + 1}")

ValueError: invalid literal for int() with base 10: 'aasdfwe'

## Exercise #1 <br>
<p>Accept two user ages as inputs and give us the difference between them. (The Answer should always be a positive output)</p>

In [107]:
user1_age = int(input("Hey person one, what's your age? "))
user2_age = int(input("Person two, your age now: "))

print(abs(user1_age-user2_age))

3

## Exercise #2 
<p>Accept 3 user inputs for variables named noun, verb and adjective. Print out a formatted string using the outputs.</p>

In [111]:
noun = input("Noun: ")
verb = input("Verb: ")
adjective = input("Adjective: ")

print(f"The {adjective} {noun} {verb}s")

The sleepy cat sleeps

## Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [113]:
age = int(input("How old are ye? "))

if age < 18:
    print("You're a kid")
elif age >= 18 and age <= 65:
    print("You're an adult")
else:
    print("You're a senior")

You're an adult

## Exercise #4
<p>Take in a number from a user input output the number squared.</p>

In [116]:
num = int(input("Number me up, I'll square it: "))
print(f"Your number {num} squared is: {num**2}")

Your number 25 squared is: 625

## Exercise #5
<p>Check the below variables' length. If the length of the word is greater than 5 output True, if it is less than 5, output False<p>

In [117]:
word1 = "panini"
word2 = "bulbasaur"
word3 = "pie"
word4 = "dolphin"
word5 = "dog"

def length_of_word(word):
    if len(word) > 5:
        return True
    else:
        return False
    
print(length_of_word(word1))
print(length_of_word(word2))
print(length_of_word(word3))
print(length_of_word(word4))
print(length_of_word(word5))

True
True
False
True
False