# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [2]:
# for keyword, iterator/counter, in keyword, object(iterable)

dog = "Shadow"
for letter in dog:
    print(letter)
  
names = ['ryan', 'alex', 'chuck', 'salim', 'patrick', 'ethan']
for name in names:
    print(name)

numbers = [1, 2, 34, 4, 6, 7]
for num in numbers:
    print(num)

S
h
a
d
o
w
ryan
alex
chuck
salim
patrick
ethan
1
2
34
4
6
7

In [5]:
numbers = range(10)
for num in numbers:
    print(num)
print("\n")
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9


0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [6]:
name = "Hyun-Tae Jin"
length = len(name)
print(length)

# takes the length of an object/iterable and grabs the number of characters or the length
# then we loop through the range of that length len(name) = 12, loops through range(12)
for i in range(len(name)):
    print(i)

12
0
1
2
3
4
5
6
7
8
9
10
11

##### Using 'in' keyword

In [7]:
# with conditionals in checks for membership
# if 'p' in word:
# print('it's here')
for i in range(15):
    print(i**2)

name = "Barney"
name2 = "Baby Bop"
for letter in name:
    if letter in name2:
        print("oh neat, same letter")
    else:
        print("not the same letter")

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
oh neat, same letter
oh neat, same letter
not the same letter
not the same letter
not the same letter
oh neat, same letter

##### Continue Statement

In [8]:
# continue will move on to the next iteration if a condition is met
# for i in range(20)
# print(i)

for i in range(20):
    if i == 5 or i == 6:
        continue
    print(i)

0
1
2
3
4
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [9]:
# stops the loop from iterating if a certain condition is met
for i in range(20):
    if i == 6:
        break
    print(i)

0
1
2
3
4
5

##### Pass Statement

In [10]:
# mostly used as a placeholder

for i in range(20):
    pass

word = "midi keyboard"

for letter in word:
    print(letter)

def get_total

m
i
d
i

k
e
y
b
o
a
r
d

##### Double For Loops

In [13]:
for i in range(5):
    for j in range(5):
        print("i =", i, "j =", j)

i = 0 j = 0
i = 0 j = 1
i = 0 j = 2
i = 0 j = 3
i = 0 j = 4
i = 1 j = 0
i = 1 j = 1
i = 1 j = 2
i = 1 j = 3
i = 1 j = 4
i = 2 j = 0
i = 2 j = 1
i = 2 j = 2
i = 2 j = 3
i = 2 j = 4
i = 3 j = 0
i = 3 j = 1
i = 3 j = 2
i = 3 j = 3
i = 3 j = 4
i = 4 j = 0
i = 4 j = 1
i = 4 j = 2
i = 4 j = 3
i = 4 j = 4

### While Loops

In [15]:
# while keyboard, condition statement
# while loop will run based on the condition statement

counter = 0

while counter < 11:
    counter += 1
    print(counter)

print("\n")

num = 0
while num < 15:
    print(num**2)
    num += 1

1
2
3
4
5
6
7
8
9
10
11


0
1
4
9
16
25
36
49
64
81
100
121
144
169
196

In [17]:
# breaks with while loop
names = ['ryan', 'chuck', 'salim', 'hyun-tae', 'daniel', 'fabian']
length = 0

while length < len(names):
    break

num = 0
while num < 15:
    num += 1
    if num == 7:
        break
    
    print(num)

1
2
3
4
5
6

##### looping 'While True'

In [20]:
# true as a condition for a while loop to run
game_over = False
while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

In [19]:
game_running = True
num = 7

while game_running:
    print("checking sum")
    if num == 7:
        game_running = False

checking sum

In [18]:
while True:
    name = input('What is your name?')
    if name == '':
        print('thats empty please enter a name')
    else:
        print(name)
        break

thats empty please enter a name
thats empty please enter a name
thats empty please enter a name
thats empty please enter a name
yes

##### While & For Loops Used Together

In [21]:
j = 0

while j < 10:
    print("\n While Loop Iteration: " + str(j))
    
    for i in range(2):
        print("For Loop Iteration: " + str(i))
        
    j += 1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 5
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 6
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 7
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 8
For Loop Iteration: 0
For Loop Iteration: 1

 While Loop Iteration: 9
For Loop Iteration: 0
For Loop Iteration: 1

##### The Range Function

In [22]:
# range(start, stop, step) - stop is the only required parameter and is not inclusive
# start will dfault to 0 if not provided
# step will default to 1 if not provided

#stop
for i in range(5):
    print(i)
print("\n")

#start, stop
for i in range(1, 10): #start, stop
    print(i)
print("\n")

#start, stop, step
for i in range(1, 10, 3): #start, stop, step
    print(i)

0
1
2
3
4


1
2
3
4
5
6
7
8
9


1
4
7

### String Manipulation Exercise

In [24]:
# loop through the list below and strip all white space and title case each string
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']

In [25]:
for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']
Connor
Max
Evan
Jordan
['Connor', 'Max', 'Evan', 'Jordan']

## Lists

##### Declaring Lists

In [26]:
# declaring an empty list
our_list = [] # <-- empty list

names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree"]
numbers = [1, 2, 3, 4, 5, 6, 7]

print(names)

['Alex', 'Lyle', 'Chuck', 'Manja', 'Desiree']

##### Indexing a List

In [32]:
#list slicing
# [start: stop: step] --> last item [-1]
# our_list[2]

# single index
print(names[2])

# print starting at index 1 and going to the end of the list
print(names[1:])
new_list = names[1:]
print(new_list)

# print starting at the beginning of the list and going up to the specified index
print(names[:2])

# print starting at index 1 and stepping by 2
print(names[1::2])
copy_list = names[1::2]
print(copy_list)

# reversing a list (starting at the back and printing every item going to the front)
print(names[::-1])

# our_list[-1] <-- always be the last item in a list

Chuck
['Lyle', 'Chuck', 'Manja', 'Desiree']
['Lyle', 'Chuck', 'Manja', 'Desiree']
['Alex', 'Lyle']
['Lyle', 'Manja']
['Lyle', 'Manja']
['Desiree', 'Manja', 'Chuck', 'Lyle', 'Alex']

### List Methods

##### .append()

In [33]:
# append add to the back of a list
names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree"]

names.append('Ben')
print(names)

['Alex', 'Lyle', 'Chuck', 'Manja', 'Desiree', 'Ben']

In [34]:
print(names[:2:-1])

['Ben', 'Desiree', 'Manja']

In [35]:
names.append('Fabian')
print(names)

['Alex', 'Lyle', 'Chuck', 'Manja', 'Desiree', 'Ben', 'Fabian']

In [36]:
print(names[:4:-1])

['Fabian', 'Ben']

In [38]:
numbers = [1, 2, 3, 4, 5, 6]

numbers.append(12)
numbers.append(16)
numbers.append(28)

print(numbers)

[1, 2, 3, 4, 5, 6, 12, 16, 28]

In [39]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
title_list = []

for name in names:
    title_list.append(name.strip().title())

print(title_list)

['Connor', 'Max', 'Evan', 'Jordan']

##### .insert()

In [40]:
# takes in an element, and an index
names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree"]

names.insert(3, "htae")
print(names)

['Alex', 'Lyle', 'Chuck', 'htae', 'Manja', 'Desiree']

In [41]:
new_data = [5, 6, 1, 10, 11, 334, 12, 123]
new_data.insert(2, 56)

print(new_data)

[5, 6, 56, 1, 10, 11, 334, 12, 123]

In [42]:
for i in range(len(new_data)):
    if i == 3:
        new_data.insert(i, names[i])

print(new_data)

[5, 6, 56, 'htae', 1, 10, 11, 334, 12, 123]

##### .pop()

In [45]:
# pop will by default remove the last item in a list
# otherwise it takes an index and will pop out the value at that index from the list
names = ["Alex", "Lyle", "Chuck", "Manja", "Desiree"]
bye_bye_name = names.pop(3)
print(bye_bye_name)

other_list = []
other_list.append(names.pop())
print(other_list)

Manja
['Desiree']

In [44]:
print(names.pop())

Desiree

##### .remove()

In [53]:
# remove by specific value --> my_list.remove(element)
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

names.remove('Bob')

print(names)

['Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

In [54]:
names = ['Bob', 'Bob', 'Billy', 'Berry', 'Bertha', 'Bob', 'Bert']
for name in names:
    if name == 'Bob':
        names.remove('Bob')
print(names)

['Billy', 'Berry', 'Bertha', 'Bob', 'Bert']

In [62]:
names = ['Bob', 'Billy', 'Bob', 'Bob', 'Berry', 'Bertha', 'Bob', 'Bert']
loop_size = len(names)

# while 'Bob' in names:
#     names.remove('Bob')
# print(names)

for i in range(loop_size):
    if names[i] == "Bob":
        if names[i] == "Bob":
            names.remove(names[i])
            loop_size -= 1
print(names)

IndexError: list index out of range

### Working With Lists

##### del()

In [67]:
# index to be removed, not value
# this can cause indexing errors
names = ['Bob', 'Billy', 'Bob', 'Bob', 'Berry', 'Bertha', 'Bob', 'Bert']
del(names[0])
print(names)

['Billy', 'Bob', 'Bob', 'Berry', 'Bertha', 'Bob', 'Bert']

##### min()

In [70]:
# return the smallest item in a list
numbers = [1, 2, 3, 4, 56]
print(min(numbers))

names = ['Alfonso', 'Gilbert', 'Chad', 'Zorph', 'aname']
print(min(names))

1
Alfonso

##### max()

In [73]:
# returns largest item in a list
numbers = [23, 45, 63, 12, 43, 100001]
print(max(numbers))

names = ['Alfonso', 'Gilbert', 'Chad', 'Zorph', 'Aname']
print(max(names))

100001
Zorph

##### sum()

In [74]:
# return the sum of all numbers in a list
numbers = [1, 2, 3, 4, 56]
print(sum(numbers))

66

##### sorted()

In [78]:
numbers = [5, 1, 17, 12, 9, 6, 20, 3]

sorted_nums = sorted(numbers)
print(sorted_nums)
print(numbers)

[1, 3, 5, 6, 9, 12, 17, 20]
[5, 1, 17, 12, 9, 6, 20, 3]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [79]:
numbers = [5, 1, 17, 12, 9, 6, 20, 3]

numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

[1, 3, 5, 6, 9, 12, 17, 20]
[20, 17, 12, 9, 6, 5, 3, 1]

##### Copying a List

In [81]:
# [:] copy a list, doesn't alter the original list

numbers = [3, 6, 1, 5, 10, -12]
msg = "yowhatup"
print(numbers)
new_list = numbers[:]
print(new_list)
new_msg = msg[:]
print(new_msg)

[3, 6, 1, 5, 10, -12]
[3, 6, 1, 5, 10, -12]
yowhatup

##### Looping Through Lists

In [86]:
# looping by value
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]
for name in names:
    print(name)

print("\n")

for name in names:
    if name == "Han Solo":
        print(name)

print("\n")

# looping by index
for i in range(len(names)):
    print(names[i])

print("\n")

for i in range(len(names)):
    if names[i] == "Leia Organa":
        print(names[i])

print("\n")

# enumerate
for i, v in enumerate(names):
    print(i, v)

print("\n")

for i, v in enumerate(names):
    if v == "Mace Windu":
        print(i)

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Han Solo


Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu


Leia Organa


0 Han Solo
1 Leia Organa
2 Luke Skywalker
3 Lando Calrissian
4 Mace Windu


4

##### 'in' keyword

In [87]:
# specifying list that we are iterating through
names = ["Alex", "Abdel", "Swan", "Ethan", "Hyun-Tae"]
if "Ethan" in names:
    print("Ranger")
else:
    print("not a ranger")

Ranger

##### 'not in' keyword

In [89]:
names = ["Alex", "Abdel", "Swan", "Ethan", "Hyun-Tae"]
if "Frederick" not in names:
    print("booo not a ranger")
else:
    print("Great job being a ranger, frederick")

booo not a ranger

##### Checking an Empty List

In [90]:
our_list = []

if our_list == []:
    print("welp thats empty")
else:
    print("there is stuff in there")

welp thats empty

##### Removing Instances with a Loop

In [91]:
names = ["Alex", "Abdel", "Swan", "Ethan", "Hyun-Tae"]

while "Alex" in names:
    names.remove('Alex')

print(names)

['Abdel', 'Swan', 'Ethan', 'Hyun-Tae']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [100]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
norepeats = []

for unique in names:
    if unique not in norepeats:
        norepeats.append(unique)

names = norepeats

print(names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

tucker sam deliah connor bob evan max 2 3 4 kevin

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

['connor', 'max', 'evan', 2, 3, 4, 'bob', 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [99]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_squared = []

for num in nums:
    nums_squared.append(num**2)
print(nums_squared)

nums_squared = [x**2 for x in nums]

print(nums_squared)

nums_squared = [x**2 for x in nums if x%2 == 0]

print(nums_squared)

[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [101]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

['sam', 'sean']
['sam', 'sean']

[0, 1, 4, 3, 16, 5, 36, 7, 64, 9]

[0, 1, 4, 3, 16, 125, 36, 7, 64, 9]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [105]:
tup_1 = (1, 2, 3) #one way to create a tuple
tup_2 = 4, 5, 6 #another also nice way to create a tuple
tup_3 = tuple()

print(tup_1)
print(tup_2)
print(tup_3)

print(type(tup_1))

# indexing into a tuple
print(tup_1[0])
print(tup_2[1])

# length of a tuple
print("tuple length", len(tup_2))

# iterating through a tuple
for num in tup_1:
    print(num)

for i in range(len(tup_2)):
    print(tup_2[i])

(1, 2, 3)
(4, 5, 6)
()
<class 'tuple'>
1
5
tuple length 3
1
2
3
4
5
6

##### sorted()

In [110]:
tup = (20, 5, 1, 10, 95, 123)
print(tup)
print(sorted(tup))
print(tuple(sorted(tup)))

some_list = [5, 12, 654, 234, 7643, 34]

# combine_list = some_list + tup

new_tup = tuple(some_list)

new_new_tup = new_tup + tup
print(new_new_tup)

(20, 5, 1, 10, 95, 123)
[1, 5, 10, 20, 95, 123]
(1, 5, 10, 20, 95, 123)
(5, 12, 654, 234, 7643, 34, 20, 5, 1, 10, 95, 123)

In [149]:
# List Concatenation

my_list = [1, 2, 3, 4, 5]
my_list2 = [2, 3, 4, 5, 13, 12, 16, 1234]

my_list3 = my_list + my_list2

print(my_list3)

[1, 2, 3, 4, 5, 2, 3, 4, 5, 13, 12, 16, 1234]

##### Adding values to a Tuple

In [107]:
tup = (20, 54, 60, 23, 11)
print(tup)

tup = tup + (6, )
print(tup)

(20, 54, 60, 23, 11)
(20, 54, 60, 23, 11, 6)

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [112]:
alist = [1,11,14,5,8,9]

print([num for num in alist if num < 10])

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [146]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

[l_2.append(num) for num in l_1]
l_2.sort()
print(l_2)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [176]:
square = [num**2 for num in range(1, 16)]
print(*square, sep='\n')

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>

In [192]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']
anames = [name.strip().title() for name in names_list if name.strip().title() != '']
print([aname for aname in anames if aname[0] == 'A'])

['Amy', 'Alex']

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>

In [193]:
for i in range(2, 101): 
    for j in range(2, 101):
        if i %j  == 0:
            break
    if i == j:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97